.enlacesAdmin{
    text-decoration: none;
    color: blanchedalmond;
}
.tituloViajeAdm{
    font-size: 300%;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.decoracionTexto{
    text-decoration: none;
}
.tablaTransparente {
    background-color: transparent;
    border-collapse: separate;
    border: none;
    display: flex;
    justify-content:space-evenly;
  }
  
  /* Si también quieres hacer transparentes las celdas */
  .tablaTransparente td,
  .tablaTransparente th {
    background-color: transparent;
    border: none;
    
    
  }

  .bordeBotonHome{
    border: 0.5rem solid whitesmoke;
    border-radius: 1rem;
    display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem; /* Ajusta el ancho según tus necesidades */
  height: 12rem;
  padding: 0.9rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  

   
  }
  .bordeBotonHome:hover{
    border: 0.5rem solid rgb(173, 171, 171);
    border-radius: 1.2rem;
    background-color: rgba(187, 187, 187, 0.492);

  }
  .bordeBotonHome h2 {
    font-size:large;
    margin: 1.2rem;
    padding-top: 0.5rem; /* Ajusta el espacio alrededor del texto */
    padding-bottom: 0.5rem;
  }
//  itinerario
  .txtGral{
    width: 10rem;
  }
  .modalLetrasItinerario{
    font-weight:bold;
  }

  .notificacion {
    display: flex;
    align-items: start;
    margin-top: -1rem;
    margin-left: 10rem;
    color: #250f7e;
    font-size: larger;
    font-weight: bolder;
    
  }
  
  .notificacion svg {
     /* Ajusta el margen del icono */
    color: #250f7e; /* Cambia el color del icono */
    font-size: 3rem;
  }