.enlacesAdmin{
    text-decoration: none;
}
.tituloViajeAdm{
    font-size: 300%;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


