.formularioItinerarioContenedor{
    background-color: whitesmoke;
    margin: 1%;
    border-radius: 1%;
    padding: 1%;
}
.estilosLabels{
    font-weight: bolder;
}
.tituloForm{
    font-size: 2rem;
    color: aliceblue;
}
.estiloBotones{
    background-color: rgba(154, 42, 154, 0.802);
    border: rgba(154, 42, 154, 0.802);
    margin: 1%;
  }
  .estiloBotones:hover{
    background-color: rgb(226, 147, 226);
  }