.formularioViajeContenedor{
    background-color: beige;
    min-width: 10%;
    padding: 2%;
    border-radius: 0.9%;
}
.tipoLetraViaje{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.esiloTablaAdViaje{
   max-width: 90%;
  background-color: rgb(254, 255, 255);
  border-radius: 0.8%;
}
.tablaContainer{
   margin-top: 0.5%;
}