.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
 

  .containerColorLogin{
    background-color: aliceblue;
    min-height: 30%;
    min-width: 25%;
    padding: 2%;
    border-radius: 5%;
  }
  .texDecoinputlog{
    text-decoration: none;
  }
  .error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  .containerColorOlvidoPass{
    background-color: aliceblue;
    min-height: 30%;
    min-width: 25%;
    padding: 2%;
    border-radius: 5%;
  }