.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
 

  .containerColorLogin{
    background-color: aliceblue;
    min-height: 30%;
    min-width: 25%;
    padding: 2%;
    border-radius: 5%;
  }
  .texDecoinputlog{
    text-decoration: none;
  }
  .error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  .containerColorOlvidoPass{
    background-color: aliceblue;
    min-height: 30%;
    min-width: 25%;
    padding: 2%;
    border-radius: 5%;
  }

  .contenedorLogoLogin{
    background-color: aliceblue;
    width: 15%;
    height: 18%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    border: 0.50rem solid #093477
  }
  .logoLogin{
    width: 90%;
    height: 90%;
    padding: 1rem;
  }